In [1]:
from sqlalchemy import create_engine
from sqlalchemy import Column, Integer, String
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker
from sqlalchemy import ForeignKey
from sqlalchemy.orm import relationship

In [7]:
engine = create_engine('sqlite:///:memory:', echo=True) # echo 标志是日志记录的快捷方式，可以看到生成的 sql
Base = declarative_base()
Session = sessionmaker(bind=engine)
session = Session()

In [8]:
class User(Base):
    __tablename__ = 'users'
    id = Column(Integer, primary_key=True)
    name = Column(String)
    fullname = Column(String)
    nickname = Column(String)
    
    def __repr__(self):
        return f'<User(name={self.name}, fullname={self.fullname}, nickname={self.nickname})>'


class Address(Base):
    __tablename__ = 'addresses'
    id = Column(Integer, primary_key=True)
    email_address = Column(String, nullable=False)
    user_id = Column(Integer, ForeignKey('users.id'))

    user = relationship("User", back_populates="addresses")

    def __repr__(self):
        return "<Address(email_address='%s')>" % self.email_address

User.addresses = relationship("Address", order_by=Address.id, back_populates="user")

In [9]:
Base.metadata.create_all(engine)

2019-11-28 19:11:08,577 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2019-11-28 19:11:08,578 INFO sqlalchemy.engine.base.Engine ()
2019-11-28 19:11:08,579 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2019-11-28 19:11:08,579 INFO sqlalchemy.engine.base.Engine ()
2019-11-28 19:11:08,580 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("users")
2019-11-28 19:11:08,580 INFO sqlalchemy.engine.base.Engine ()
2019-11-28 19:11:08,581 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("users")
2019-11-28 19:11:08,581 INFO sqlalchemy.engine.base.Engine ()
2019-11-28 19:11:08,582 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("addresses")
2019-11-28 19:11:08,583 INFO sqlalchemy.engine.base.Engine ()
2019-11-28 19:11:08,583 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("addresses")
2019-11-28 19:11:08,583 INFO sqlalchemy.engine.base.Engine ()
2019-11-28 19:11:08,585 INFO sqlalchemy.engine.base.Engine
CREATE TABLE users (
	id INTEGER NOT NULL,
	name VARCHAR,
	fullname VARCHAR,
	nickname VARCHAR,
	PRIMARY KEY (id)
)


2019-11-28 19:11:08,585 INFO sqlalchemy.engine.base.Engine ()
2019-11-28 19:11:08,586 INFO sqlalchemy.engine.base.Engine COMMIT
2019-11-28 19:11:08,586 INFO sqlalchemy.engine.base.Engine
CREATE TABLE addresses (
	id INTEGER NOT NULL,
	email_address VARCHAR NOT NULL,
	user_id INTEGER,
	PRIMARY KEY (id),
	FOREIGN KEY(user_id) REFERENCES users (id)
)


2019-11-28 19:11:08,587 INFO sqlalchemy.engine.base.Engine ()
2019-11-28 19:11:08,588 INFO sqlalchemy.engine.base.Engine COMMIT

In [10]:
jack = User(name='jack', fullname='Jack Bean', nickname='gjffdd')

In [11]:
jack.addresses

[]